@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


/* Anordnung:
1. html
2. html.class
3. html:pseudoclass
4. id's
5. classes */

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #333333;
  color: white;
  margin: 0;
  padding: 0;
  font-size: 1.5em;
}

div {
  display: block;
}

div.text p,h1,h2,h3,h4,h5,h6 {
  margin-top: 0%;
  margin-bottom: 0%;
  padding: 1% 7% 1% 7%;
  display: flex;
  text-align: center;
}

div.text {
  background-color: blue;
  padding-top: 2%;
  padding-bottom: 2%;
}

a:link{
  color: #b5b5b5;
  text-decoration: none;
}
a:visited {
  color: white;
  text-decoration: none;
}
::selection {
  background-color: white;
}

#header {
  margin: 0%;
  background-color: #292929;
  margin: 0 auto;
  width: 100%;
  box-shadow: 0px 2px 10px #292929;
  display: block;
  z-index:1;
}

#header-list {
  list-style-type: none;
  margin: 0px;
  padding-top: 0.7%;
  padding-bottom: 1%;
  padding-left: 25%;      /* wie weit der ganze shit von links entfernt ist */
  display: flex;
  align-items: center;
}

#header-list li {
  display: inline;
  margin-right: 6%;
  flex-direction: column;
}

#header span {
  display: block;
  margin: 0;
  padding-top: 1%;
  padding-left: auto;
  padding-right: auto;
  border: 0%;
  font-size: 50%;
  opacity: 0.5;
  text-align: center;
}


.footer {
  position: absolute;
  width: 100%;
  height: 7.5%;
  max-height: 7.5%;
  background-color: #292929;
  text-align: center;
}

.sticky {               /* klebrig */
  position: sticky;
  top: -4%;
}

.media {
    position: relative;       /* macht, dass man das Ding (media) unten bewegen kann*/
    display: flex;
}
.video-placeholder {
  height: 80vh;
  width: 100%;
  background-color: yellow;
}

.image-placeholder{
  margin: 0 0 0 0;
  background-color: red;
  height: 20vh;
  width: 40vh;
  position: relative;
  top: 40%;
  left: 40%;
}
